@import "../abstracts/variables";
.footer {
  background-color: $color-dark-grey-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }
  &__logo {
    width: 15rem;
    height: auto;
  }
  &__navigation {
    border-top: 1px solid $color-grey-light-2;
    display: inline-block;
    padding-top: 2rem;
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:visited,
    &:link {
      text-transform: uppercase;
      display: inline-block;
      background-color: $color-dark-grey-3;
      color: $color-grey-light-1;
      text-decoration: none;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__copyright {
    border-top: 1px solid $color-grey-light-2;
    float: right;
    width: 80%;
    padding-top: 2rem;
  }
}
